@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
body {
  background-color: #07263b !important;
  margin: 0px;
  font-family: "Montserrat", sans-serif !important;
  padding: 0px;
  color: white;
  text-align: center;
}
.title {
  font-size: 1.5rem !important;
  font-weight: 700 !important;
}

.stats {
  background-color: #218690 !important;
  font-weight: 600 !important;
}
p {
  color: white !important;
}
.data-title {
  font-size: 0.6rem;
}
.accuracy,
.wpm,
.error,
.time {
  font-size: 1.8rem;
}
.stats-div {
  background-color: #0b3049 !important;
}
.sentence {
  background-color: #0b3049 !important;
  font-size: 1rem !important;
}
.input {
  background-color: transparent;
  border: 2px solid #5fccd3 !important;
  width: 100%;
  height: 11rem;
  resize: none;
  outline: none;
  margin: auto;
}
.reset {
  background-color: #133b58 !important;
  color: #5fccd3 !important;
  font-size: 0.8rem !important;
}
.reset:hover {
  border: 1px solid #65e2eb !important;
}

.inputDiv {
  display: none;
}

.prgrphDiv {
  display: none;
}
.correct {
  color: #93e7eb !important;
}
.incorrect {
  color: #e64c50 !important;
  text-decoration: underline;
}
